/troubleshooting
/terraform/terraform.tfvars
/terraform/.terraform
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/CLAUDE.md
.env
docker-compose.override.yml
/kestra/00_reference-notes
/kestra/example-flows